h1 {
    font-size: 2.5rem; /* Puedes ajustar el valor según tus preferencias */
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  p {
    font-size: 1.6rem;
  }

  a {
    font-size: 1.6rem; 
  }