@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* Navbar section */

.vf-nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.vf-logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.vf-logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.vf-logo a:hover {
    color: #00E676;
}

.vf-main_list {
    height: 65px;
    float: right;
}

.vf-main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.vf-main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.vf-main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.vf-main_list ul li a:hover {
    color: #00E676;
}

/* Home section */

.vf-home {
    width: 100%;
    height: 100vh;
    background-position: center top;
    background-size: cover;
    text-align: center;
}

.vf-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.2em;
}

.vf-heading {
    color: white;
    text-align: center;
}

/* Rest of your CSS with the "vf-" prefix */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .vf-container {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .vf-navTrigger {
        display: block;
    }
    .vf-nav .vf-logo {
        margin-left: 15px;
    }
    .vf-nav .vf-main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .vf-nav .show_list {
        height: auto;
        display: none;
    }
    .vf-nav .vf-main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111; /* same background color of navbar */
        background-position: center top;
    }
    .vf-nav .vf-main_list ul li {
        width: 100%;
        text-align: right;
    }
    .vf-nav .vf-main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .vf-nav .media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.vf-navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    display: block; 
}

.vf-navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.vf-navTrigger i:nth-child(1) {
    -webkit-animation: vf-outT 0.8s backwards;
    animation: vf-outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.vf-navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: vf-outM 0.8s backwards;
    animation: vf-outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.vf-navTrigger i:nth-child(3) {
    -webkit-animation: vf-outBtm 0.8s backwards;
    animation: vf-outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.vf-navTrigger.active i:nth-child(1) {
    -webkit-animation: vf-inT 0.8s forwards;
    animation: vf-inT 0.8s forwards;
}

.vf-navTrigger.active i:nth-child(2) {
    -webkit-animation: vf-inM 0.8s forwards;
    animation: vf-inM 0.8s forwards;
}

.vf-navTrigger.active i:nth-child(3) {
    -webkit-animation: vf-inBtm 0.8s forwards;
    animation: vf-inBtm 0.8s forwards;
}

@-webkit-keyframes vf-inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes vf-inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes vf-outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes vf-outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes vf-inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes vf-inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes vf-outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes vf-outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes vf-inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes vf-inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes vf-outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes vf-outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.vf-affix {
    padding: 0;
    background-color: #111;
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}
@media (min-width: 768px) {
    .vf-navTrigger {
        display: none; /* Oculta el botón en pantallas más grandes */
    }
}