
#scroll::-webkit-scrollbar {
  display: none;
}
#scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#titul{
    font-family: fantasy;
    color: #FFC300;
}
#imag{
    height: 100%;
    width: 100%;
}
#backima{
    background-color: black;
}
#fondmov{
    filter: opacity(50%);
    background-attachment: fixed;
    background-position: initial;;
    background-repeat: no-repeat;
    background-size: cover;

}
#ico{
	height: 30px;
	width: 30px;
}