@charset "ISO-8859-1";

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-image: url("/img/navvar/carr1.png");
	background-size: cover;
	background-attachment: fixed;
}
.container{
	width: 100%;
	padding: 15px;
}
.t{
	text-align: left;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
h1{
	text-align: center;
	color: #fff;
	font-size: 30px;
}
input[type="text"],
input[type="password"]{
	font-size: 20px;
	width: 80%;
	pading: 10px;
	border: none;
	background: rgba(5, 7, 12, 0.30);
}
.input-container{
	margin-bottom: 15px;
	border: 1px solid #fff;
}
.icon{
	min-width: 40px;
	text-align: center;
	color: #999;
}
.button{
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #1a2537;
	padding: 15px 20px;
	border-radius: 10px;
	cursor: pointer;
}
.button:hover{
	background: cadetblue;
}
p{
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
	color: #fff;
}
.link{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}
.link:hover{
	color: cadetblue;
}
.controll{
	color: white;
}
.controlls{
	color: white;
}

